
<div class="container col l5 center-align" ng-controller="NavBarCtrl">
	<header>
		<h6 id="nav-heading">The Greatest of Music History's</h6>
		<nav class="hoverable">
			<a href="#!/"  ng-click="loginGoogle()" ng-show="!isLoggedIn">Login with Google</a>
			<a href="#!/details" id="list-music" ng-show="isLoggedIn">List Music |</a>
			<a href="#!/form" id="add-music" ng-show="isLoggedIn">Add Music</a>
			<a href="#!/" id="logout" ng-click="logoutUser()" ng-show="isLoggedIn">Logout</a>
		</nav>
	</header>
</div>

<div class="divider"></div>
