<div id="big" class="container mainPageDisplay">
	<div class="row">
		<div class="left-side col s12 m6 l3 offset s2 center-aligned hoverable  yellow accent-3">
			<input id="slider" type="range" min="0" max="50" value="25" maxlength="20" />

			<br>
			
			<label>Artist:</label>

			<br>
			<!-- replace these dropdown menus with more functional ones that filter the right-side -->
			<select name="artist" id="artist">
				<option>Led Zepplin</option>
				<option>AC/DC</option>
				<option>The White Stripes</option>
				<option>Miles Davis</option>
				<option>Louis Armstrong</option>
			</select>

			<br>

			<label>Album:</label>

			<br>
			
			<select name="album" id="album">
				<option>Mothership</option>
				<option>Black Ice</option>
				<option>Elephant</option>
				<option>Kind of Blue</option>
				<option>Hello Louis!</option>
			</select>
		</div>

		<div class="right-side col s12 m6 l9 right-aligned hoverable teal accent-3">
			<h5>What a Wonderful World</h5>
				<p>Louis Armstrong | Hello Louis! | Jazz</p>
			<h5>Khasmir</h5>
				<p>Led Zepplin | Mothership | Rock</p>
			<h5>Freddie Freeloader</h5>
				<p>Miles Davis | Kind of Blue | Jazz</p>
			<h5>You Shook Me All Night Long</h5>
				<p>ACDC | Black Ice | Rock</p>
		</div>

	</div>
</div>