<div class="container col s12 offset s4 center-align" id="userInput">
	<legend>Fill out this form to add your Favorite Music</legend>
	<form id="input-form">
		Song Name: <input ng-model="song.name" type="text" name="song" id="song"><br><br>
		Artist: <input ng-model="song.artist" type="text" name="artist" id="singer"><br><br>
		Album: <input ng-model="song.album" type="text" name="album" id="record"><br><br>
		Genre: <input ng-model="song.genre" type="text" name="genre" id="genre"><br><br>
		<button class="btn waves-effect waves-light" type="button" name="action" id="addBtn">Save Song</button>			
	</form>
</div>