<div id="big" class="container mainPageDisplay">
	<div class="row">
		<div class="left-side col s12 m6 l3 offset s2 center-aligned hoverable  yellow accent-3">
			<input id="searchText" type="text" min="0" max="50" value="" maxlength="20" placeholder="Search by Song, Artist, or Album" />
<!-- WILL NEED TO USE A LOT OF NG-MODELS AND HANDLEBARS TO GENERATE THE INFO BELOW -->
			<br>
			
			<label>Artist:</label>

			<br>
			<!-- replace these dropdown menus with more functional ones that filter the right-side -->
			<select name="artist" id="artist">
				<option>Led Zepplin</option>
				<option>AC/DC</option>
				<option>The White Stripes</option>
				<option>Miles Davis</option>
				<option>Louis Armstrong</option>
			</select>

			<br>

			<label>Album:</label>

			<br>
			
			<select name="album" id="album">
				<option>Mothership</option>
				<option>Black Ice</option>
				<option>Elephant</option>
				<option>Kind of Blue</option>
				<option>Hello Louis!</option>
			</select>

			<br> 

			<label>Genre</label>

			<br>

			<!-- put a bunch of checkboxes here to filter by Genre -->
		</div>

		<div class="right-side col s12 m6 l9 right-aligned hoverable teal accent-3">
			<div ng-repeat="song in songs">
			<h5>{{song.song}}</h5>
				<p>{{song.artist}} | {{song.album}}</p>
			</div>
		</div>

	</div>
</div>